<div class="page-heading"><p class="eyebrow">Talks</p><h1>Conference talks<br><em>&amp; invited seminars.</em></h1></div>
<div class="talk-directory"><a href="#invited">Invited talks <span aria-hidden="true">↓</span></a><a href="#contributed">Contributed talks <span aria-hidden="true">↓</span></a></div>
<section id="invited" aria-labelledby="invited-heading">
  <h2 id="invited-heading">Invited talks</h2>
  $invited_talks
</section>
<section id="contributed" aria-labelledby="contributed-heading">
  <h2 id="contributed-heading">Contributed talks</h2>
  $contributed_talks
</section>
